<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的财产-使用说明</title>
		<link rel="stylesheet" data-th-href="${staticResourcesDomain} +'css/common.css'" />
		<script>
			document.documentElement.style.fontSize=document.documentElement.clientWidth/3.75+'px'
		</script>
		<style>
			body{background: #f6f6f6;}
			.box{width: 100%;padding:0 .13rem;box-sizing: border-box;}
			.top_title{width: 100%;height:.29rem;line-height: .29rem;font-size: .16rem;padding-top: .17rem;}
			.content{line-height: .27rem;font-size: .13rem;color: #999;}
		</style>
	</head>
	<body>
		<div class="box">
			<div class="top_title">我的财产使用说明</div>
			<div class="content">
			拍币，用于拍卖的虚拟货币，每1拍币价值1元，每次出价会消耗一定数量的拍币。拍币可用于所有商品拍卖，不支持差价购买。<br />
			赠币，即非人民币充值所获，通常为注册赠送/晒单奖励等。可用于实物商品拍卖，不支持虚拟商品拍卖及差价购买，如拍卖失败不予退还。<br />
			开心币，为拍卖失败系统自动返还所消耗拍币的<span th:text="${coin}"></span>%。开心币仅可用于差价购买，不支持任何商品拍卖。<br />
			 (1) 开心币不可叠加使用；<br />
			 (2) 单个具体商品的开心币有效期为30天（从获得开心币的时间算起，30天后失效），账户中的开心币有效期届满后将会过期，过期后不可使用不可恢复。
			</div>
		</div>
	</body>
</html>
<script type="text/javascript" data-th-src="${staticResourcesDomain} +'js/jquery-3.2.1.js'" ></script>
<script type="text/javascript" data-th-src="${staticResourcesDomain} +'js/common.js'" ></script>