<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>demo</title>
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" data-th-href="${staticResourcesDomain} +'css/jquery.mobile-1.4.2.min.css'">
		
		<link rel="stylesheet" type="text/css" data-th-href="${staticResourcesDomain} +'css/basic.css'" />
		<link rel="stylesheet" type="text/css" data-th-href="${staticResourcesDomain} +'css/common.css'" />

		<script type="text/javascript" data-th-src="${staticResourcesDomain} +'js/jquery-1.9.1.min.js'"></script>
		<!--<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>-->
		<script type="text/javascript" data-th-src="${staticResourcesDomain} +'js/jquery.mobile-1.4.2.min.js'"></script>
		<script type="text/javascript" data-th-src="${staticResourcesDomain} +'js/base.js'"></script>
		<script type="text/javascript" data-th-src="${staticResourcesDomain} +'js/common.js'"></script>
	</head>
	<body>
		<div class="ui-page ui-page-theme-a ui-page-active" data-role="page">
			<!-- <div class="header">
            <a class="back_arr" href="javascript:void(0);"></a>
            <h1>我的</h1>
        </div>-->
			<!-- main start -->
			<div class="wrapper" style="padding-bottom: 0;">
				<div class="notice">
				<ul>
				<li>
				<h1><img data-th-src="${staticResourcesDomain} +'images/notice.png'"></h1>
				<p>开心拍卖，一家跟“玩”死磕的互联网竞价购物平台。我们希望通过全新的交易方式—在线竞拍，来打破传统的购物模式，告别简单粗暴、低趣味降价营销之后带来的“剁手”负罪感，而是追求能让更多人，真正体验竞拍购物的愉悦感。</p>
				<p>无数个日夜，苦思冥想，通宵达旦，团队经常为死磕细节，争的面红耳赤，比如为让新“玩家”能轻松上手，新手教程前后一共调整了18次（最后方案，将延迟于18年3月上线，试运营版本暂不提供）。为你倾血 打造，一个更具游戏化的应用场景，在这里，暂别喧嚣和烦恼，在这里，童心未泯，重回少年。</p>
				<p>同时，我们又前后翻阅了27本心理学书籍，为了找到人性趋利的背后逻辑。一味追求低价，可能并不是目的，而过程的刺激和期待才能安抚本性。0元起步，超低门槛（1个拍币），理论上任何人都能以“超乎想象”的低价成交商品，当然这还取决于“另一个你”与你的同台竞争。十足的参与感，绝对的主动权，现实太过骨感，在这宛如可以“当回老板”。</p>
				<p>还有，一些女性同胞们，在“享受”过双11，双12的电商促销之后，面临的是半年甚至更长时间才能还清的信用卡账单，以及堆在房间门口长久积灰都未打开的包裹。剁手党的名词，既是自嘲，亦是像毒瘾般难戒的购物欲使然。开心拍卖，提倡理性消费，娱乐至尚，很少的代价，即可满足日渐膨胀的购物欲。让“剁手”不再成为负担和“病”态。</p>
				<p>最后，我们想说的是，开心拍卖试运营版将于18年1月31日正式上线。初出茅庐，羽翼未丰。倘然产品及服务，不能让你满意，希望能给我们团队一点点时间，你的耐心将会铸就我们一往直前的信心。</p>
				<p style="margin: .5rem 0;"><span>开心拍卖创始团队，敬上</span>
				<span>2017年10月31日</span></p>
				</li>
				<img class="notice_ml" data-th-src="${staticResourcesDomain} +'images/notice_ml.png'">
				</ul>
				
				</div>
			</div>
			<!-- main end -->
			<!-- footer start -->
			<!--<div class="footer">
            <ul>
              <li class="current"><a rel="external" href="index.html"><i></i><span>首页</span></a></li>
              <li><a rel="external" href="定期理财.html"><i class="one1"></i><span>投资</span></a></li>
              <li><a rel="external" href="借款.html"><i class="one2"></i><span>借款</span></a></li>
              <li><a rel="external" href="我的.html"><i class="one3"></i><span>我的</span></a></li>
            </ul>
         </div>    -->
			<!-- footer end -->
		</div>
	</body>

</html>