<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >  
  	<meta name="description" content="">
  	<title>邀请得现金</title>
  	<link rel="stylesheet" type="text/css" href="../css/share/share-h5.css">
</head>
<body>
<div class="main">
	<img src="../images/explain.png" class="explain">
	<img src="../images/button.png" class="button share-button">
</div>
	<input type="hidden" id="activityId" th:value="${activityId}">
</body>
</html>
<script type="text/javascript" data-th-src="${staticResourcesDomain} +'js/jquery-1.9.1.min.js'"></script>
<script src="../js/share-h5.js"></script>