<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<title>用户协议</title>
<script>
	document.documentElement.style.fontSize = document.documentElement.clientWidth
			/ 3.75 + 'px'
</script>
<style>
html, body, p, div {
	margin: 0;
	padding: 0;
}

body {
	background: #fafbfb;
}

.title {
	width: 100%;
	text-align: center;
	font-size: .15rem;
	padding-top: .1rem;
}

.content {
	width: 100%;
	padding: .1rem .15rem 0 .15rem;
	box-sizing: border-box;
	font-size: .14rem;
}

.content p {
	font-weight: bold;
	margin-bottom: .1rem;
	margin-top: .15rem;
}

.content .content_detail {
	text-indent: .2rem;
	font-size: .12rem;
	color: #666;
	line-height: .18rem;
}
</style>
</head>
<body>
	<div class="title">若定科技用户服务协议</div>
	<div class="content">
		<p>导言：</p>
		<div class="content_detail" style="margin-bottom: 0;">
			欢迎您访问若定科技！为维护若定科技平台的竞价交易秩序，保障若定科技平台与用户的合法权益，依据<b>《中华人民共和国民事诉讼法》</b>及最高人民法院等相关法律条款拟定本协议。
		</div>
		<div class="content_detail">
			在接受本协议之前，请您仔细阅读本协议的全部内容（特别是以<b>粗体下划线标注的内容</b>）。如果您对本协议的条款有疑问的，请通过若定科技客服渠道进行询问，若定科技客服将向您解释条款内容。如果您不同意本协议的任意内容，或者无法准确理解若定科技对条款的解释，请不要进行后续操作。
		</div>
		<p>第一条 签约主体</p>
		<div class="content_detail">
			1.1 本协议由若定（上海）网络科技有限公司（以下可统称为“若定科技”）与参与竞价的竞价人(以下简称<b>“用户”或“您”</b>)签署。
		</div>
		<p>第二条 协议生效和适用范围</p>
		<div class="content_detail" style="margin-bottom: 0;">
			2.1 您通过网络页面点击勾选确认<b>“我同意若定科技用户服务协议”</b>或以其他方式选择接受本协议，即表示您与若定科技已达成协议并同意接受本协议的全部约定内容。本协议自您通过网络页面点击确认或以其他方式选择接受本协议之时起生效。本协议生效后，用户不得以未阅读本竞价服务协议条款内容为由作任何形式的抗辩。
		</div>
		<div class="content_detail">
			2.2<b>本协议内容包括协议正文、附件、以及所有若定科技已经发布的或将来可能发布的各类规则、操作流程。所有规则为协议不可分割的一部分，与协议正文具有同等的法律效力。若定科技有权根据需要不定时地制定、修改本协议、附件或各类规则、操作流程，如有任何变更，若定科技将在网站上以公示形式通知您。任何修订和新规则及流程一经公布即自动生效，成为本协议的一部分。如您继续参与竞价的，则视为您对修改后的条款不持异议并同意遵守。</b> 
		</div>
		<p>第三条 定义与解释</p>
		<div class="content_detail">
			<b>除非本协议中另有定义，下列词语应具有以下特定含义：</b><br />
		</div>
		<div class="content_detail">
			3.1 竞价：是指若定科技平台发布拍品，采用公开竞价形式，由竞价成功者最终获得拍品的交易方式。<br />
		</div>
		<div class="content_detail">
			3.2 竞价成功者：指竞价中获胜，最终有权购得拍品的用户。 <br />
		</div>
		<div class="content_detail">
			3.3 竞价营销活动：指若定科技组织的拍品推广活动，包括日常拍品活动和节庆促销等主题专场活动。<br />
		</div>
		<div class="content_detail">
			3.4<b>无底价竞价模式</b>:竞价前不需要缴纳保证金，商品无起拍价，每次出价会消耗一定数量的拍币，同时商品价格以0.1元递增，当您出价后，该件商品的计时器将被自动重置，计时器归零时，出价最高者便竞价成功。<br />
		</div>
		<div class="content_detail">
			3.5拍币：<br />
		</div>
		<div class="content_detail">
			（1）指用于竞价的虚拟货币;<br />
		</div>
		<div class="content_detail">
			（2）用户可通过充值的方式获得拍币;<br />
		</div>
		<div class="content_detail">
			（3）拍币必须通过若定科技提供或认可的平台获得，从非若定科技提供
			或认可的平台所获得的拍币将被认定为来源不符合本服务协议，不得用于若定科技提供的服务;<br />
		</div>
		<div class="content_detail">
			（4）拍币不能用于购买、兑换本公司的其他收费服务或者转移给其他用户;<br />
		</div>
		<div class="content_detail">
			（5）拍币仅限于用户竞价若定科技商城内无底价竞价模式下的商品。<br />
		</div>
		<div class="content_detail">
			3.6
			赠币：非人民币充值所获得，通常为活动奖励赠送，赠币的有效使用期为30天；可用于无底价竞价模式下的实物竞价。账户中的赠币有效期届满后将会过期，过期后不可使用不可恢复。<br />
		</div>
		<div class="content_detail">
			3.7开心币：是用户参与竞价失败后系统按照用户参与竞价所消耗拍币的<span th:text="${coin}"></span>%比例自动返还所得，开心币仅可用于指定商品的差价购买，开心币的有效使用期为30天，账户中的开心币有效期届满后将会过期，过期后不可使用不可恢复。
			<br />
		</div>
		<div class="content_detail">
			3.8 初始价：无底价竞价模式下初始价为起拍价=0元。<br />
		</div>
		<div class="content_detail">
			3.9成交价格：当计时器为零时，该商品的竞价价格为最终成交价格。<br />
		</div>
		<div class="content_detail">
			3.10 付款期限:
			无底价竞价模式下竞价成功，用户务必在72小时内完成付款，否则系统会自动关闭交易，视为用户自动放弃，用户应自行承担所产生的损失，与若定科技平台无关。<br />
		</div>
		<p>第四条 参与竞价的条件</p>
		<div class="content_detail">符合以下条件的用户方能参与竞价：</div>
		<div class="content_detail">4.1 18周岁以上的公民，具备完全民事行为能力，能够独立承担法律责任。
		</div>
		<div class="content_detail">4.2
			16周岁以上不满18周岁的公民，以自己的劳动收入为主要生活来源的，视为具有完全民事行为能力。</div>
		<div class="content_detail">4.3
			如用户在18周岁以下，须在父母或监护人的监护下才能使用若定科技提供的竞价服务。</div>
		<div class="content_detail">4.4 其已确认接受《若定科技用户服务协议》，成为若定科技会员。</div>
		<div class="content_detail">4.5 若定科技未拒绝其参与竞价的申请。</div>
		<div class="content_detail">
			<b>4.6 用户用于竞价的资金应来源于合法收入。</b>
		</div>
		<p>第五条 用户管理</p>
		<div class="content_detail">5.1
			用户ID:用户首次登录若定科技时，若定科技会为每位用户生成一个账户ID，作为其使用若定科技服务的唯一身份标识，用户需要对其账户项下发生的所有行为负责。
		</div>
		<div class="content_detail">5.2
			用户资料完善：用户在使用若定科技时须如实、完整地填写个人资料。个人资料包括但不限于个人手机号码、收货地址、账号名称、头像、密码、注册或更新本公司邮箱账号时输入的所有信息。
		</div>
		<div class="content_detail">5.3
			用户应切实保护个人身份信息，不得向他人泄露注册信息。若因用户的用户名、密码被盗用而造成的损失，用户须自行承担一切责任。</div>
		<div class="content_detail">5.4
			用户在完善个人资料及参与竞价时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七项基本原则。
			不得在资料中出现违法和不良信息，且用户保证其在完善个人资料和使用账号时，不得有以下情形：</div>
		<div class="content_detail">（1）违反宪法、法律法规规定的；</div>
		<div class="content_detail">（2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</div>
		<div class="content_detail">（3）损害国家、集体及公共利益的；</div>
		<div class="content_detail">（4）煽动民族仇恨、民族歧视，破坏民族团结的；</div>
		<div class="content_detail">（5）破坏国家宗教政策，宣扬邪教和封建迷信的；</div>
		<div class="content_detail">（6）散布谣言，扰乱社会秩序，破坏社会稳定的；</div>
		<div class="content_detail">（7）散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</div>
		<div class="content_detail">（8）侮辱、诽谤他人，侵害他人合法权益的；</div>
		<div class="content_detail">（9）法律、行政法规禁止的其他情形。</div>
		<div class="content_detail">5.5
			用户保证在使用若定科技过程中遵守诚实信用原则，不扰乱若定科技的正常秩序，不得通过使用他人账户、一人注册多个账户、使用程序自动处理等非法方式损害他人或本公司的利益。
		</div>
		<div class="content_detail">5.6
			用户在进入竞价页面前须仔细阅读本服务协议及竞价公告等信息，如有疑问，用户须在竞价前及时与本公司进行沟通。</div>
		<div class="content_detail">5.7 本公司依法保护用户在本平台注册及竞价过程中的所有个人信息。</div>
		<p>第六条 竟买规则</p>
		<div class="content_detail">6.1
			若定科技团队承诺遵循公平、公正、公开的原则运营若定科技平台，确保所有用户在若定科技中享受同等的权利和义务，并将竞价结果向所有用户公示。</div>
		<div class="content_detail">6.2
			若定科技有责任向用户提供稳定的竞价平台技术服务，使用户参与的竞价得以顺利进行；用户同意严格按照本协议约定使用竞价平台技术服务。</div>
		<div class="content_detail">6.3
			用户应当按照本协议、附件、以及所有若定科技已经发布的或将来可能发布的各类规则、操作流程参与竞价，遵守相关出价、获得拍品、成交价格、赔付等各类规定。
		</div>
		<div class="content_detail">6.4
			用户须知：除本协议另有约定外，无论是否获得竞价成功，用户充值或用于竞价的拍币均不能退回；用户应完全了解参与若定科技平台的竞价活动所存在的风险，若定科技不保证参与竞价用户一定会获得商品。
		</div>
		<div class="content_detail">6.5
			为维护若定科技平台的竞价交易秩序，防止恶意竟拍，若定科技平台规定，竞价成功后，用户须按照规定完成交易，不得竞价不买。</div>
		<div class="content_detail">（1）无底价竞价模式下竞价成功，用户务必在72小时内完成付款，否则系统会自动关闭交易，视为竞价失败，视为用户自动放弃，用户应自行承担所产生的损失，与若定科技平台无关。
		</div>
		<div class="content_detail">6.6
			用户在竞价过程中可能因电脑、手机、网络故障或其他原因而导致竞买失败，用户须自行承担一切责任。</div>
		<div class="content_detail">6.7
			用户通过若定科技获得的商品，享受该商品生产厂家提供的三包服务，具体三包规定以该商品生产厂家公布的为准。</div>
		<div class="content_detail">6.8
			用户收到商品时应仔细查验，商品一经寄出，无任何商品质量方面问题将不接受退换货服务。因退换货而产生的运费由用户自行承抇。（虚拟类商品不接受退换货服务）
		</div>
		<p>第七条 违约责任</p>
		<div class="content_detail">7.1
			若用户提供给本公司的资料不准确、不真实，含有违法或不良信息的，本公司有权不予完善，并保留终止用户使用若定科技的权利。</div>
		<div class="content_detail">7.2
			若用户以虚假信息骗取账号ID或账号头像、个人简介等注册资料，存在违法和不良信息行为的，本公司有权采取通知限期改正、暂停使用、注销登记等措施。
		</div>
		<div class="content_detail">7.3
			对于冒用关联机构或社会名人注册账号名称的，本公司有权注销该账号，并向政府主管部门进行报告。</div>
		<div class="content_detail">7.4 根据相关法律、法规规定以及考虑到若定科技服务的重要性，用户同意：
		</div>
		<div class="content_detail">（1）提供及时、详尽、准确的用户资料；</div>
		<div class="content_detail">（2）允许更新用户资料，但完善个人资料时填写的身份证信息不能更新，特殊情形需提供本公司后台认证。
		</div>
		<div class="content_detail">7.5
			若用户存在任何违法或违反本服务协议约定的行为，本公司有权追究用户的违法或违规责任，例如有权停止传输并删除其言论、禁止该用户发言、注销用户账号及其账号中的拍币（如有），同时，本公司保留根据国家法律法规、相关政策向有关机关追诉的权利，适用以下情形：
		</div>
		<div class="content_detail">（1）责令用户改正违法、违规行为；</div>
		<div class="content_detail">（2）中止、终止部分或全部服务；</div>
		<div class="content_detail">（3）取消用户商品订单并取消商品发放（若用户已获得商品），且用户已获得的拍币不予退回；
		</div>
		<div class="content_detail">（4）冻结或注销用户账号及其账号中的拍币（如有）；</div>
		<div class="content_detail">（5）若用户的行为造成本公司及其关联公司损失的，用户还应承担赔偿责任；
		</div>
		<div class="content_detail">（6）其他情形。</div>
		<p>第八条 免责及有限责任</p>
		<div class="content_detail">
			8.1 本协议项下的竞价平台技术服务将按“现状”和按“可得到”的状态提供，若定科技将在现有技术的基础上尽最大努力提供相应的安全措施以保障服务安全和正常运行。但由于可能存在的计算机病毒、网络通讯故障、系统维护等方面的因素以及可能发生的不可抗力事件，若定科技在此明确声明对技术服务不作任何明示或暗示的保证，包括但不限于对服务的可适用性、没有错误或疏漏、持续性、准确性、可靠性、适用于某一特定用途。对此请用户予以理解并不应要求若定科技在以下情况下承担责任：
		</div>
		<div class="content_detail">（1）竞价过程中，如本公司若定科技系统遇到网络攻击、服务器故障、系统瘫痪，系统停机维护或其他不可抗力因素而导致竞价不能正常进行的，本公司有权终止竞价，择期另行竞价；
		</div>
		<div class="content_detail">（2）通讯终端或电信设备出现故障不能进行数据传输的；</div>
		<div class="content_detail">（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能提供服务的；
		</div>
		<div class="content_detail">（4）本公司有权根据用户的要求撤销竞价，若出现前述状况，用户不得向本公司主张任何费用，不得提出任何赔偿请求；
		</div>
		<div class="content_detail">（5）如确认用户存在恶意竞价行为，若定科技平台有权取消用户竞买订单，并有权视用户行为情况予以惩罚； 
		</div>
		<div class="content_detail">
			（6）本公司取消用户订单后，用户可申请退还拍币，所退拍币将在3个工作日内退还至用户帐户中。</div>
		<p>第九条 争议解决方式</p>
		<div class="content_detail">9.1 本协议适用中华人民共和国法律（为本协议之目的，不包括香港、澳门和台湾地区的法律）。</div>
		<div class="content_detail">9.2 因若定科技与用户就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，若定科技和用户同意由若定科技所在地法院管辖审理双方的纠纷或争议。

		</div>
		<div class="content_detail" style="margin-top: .1rem;">本服务协议的最终解释权归若定（上海）网络科技有限公司所有。
		</div>

	</div>
</body>
</html>
