<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 以下是Quartz定时调度配制-->
	<bean id="schedulerFactory" init-method="stop" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	<property name="configLocation" value="classpath:quartz.properties" />
	<property name="dataSource" ref="primaryDataSource" />
	<property name="applicationContextSchedulerContextKey" value="applicationContext" />
	<property name="overwriteExistingJobs" value="true" />
	<property name="autoStartup" value="true" />
	<property name="startupDelay" value="10"/>
		<property name="triggers">
			<list>
			</list>
		</property>
	</bean>
</beans>