html, body, div, span,applet, object, iframe, table, caption,
tbody, tfoot, thead, tr,th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small,strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6,p, blockquote, pre, a, abbr,
acronym, address, big,cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label,legend {
	　　vertical-align: baselinebaseline;
	　　font-family: inherit;
	　　font-weight: inherit;
	　　font-style: inherit;
	　　font-size: 100%;
	　　outline: 0;
	　　padding: 0;
	　　margin: 0;
	　　border: 0;
}

:focus {
	　　outline: 0;
}

body {
	　　background: white;
	　　line-height: 1;
	　　color: black;
	margin: 0;
	font-family: "微软雅黑"
}

p{
	margin: 0;
}

ol, ul {
	　　list-style: none;
	padding: 0;
	margin: 0;
}

table {
	　　border-collapse: separate;
	　　border-spacing: 0;
}

caption, th, td {
	　　font-weight: normal;
	　　text-align: left;
}

blockquote:before,blockquote:after, q:before, q:after {
	　　content: "";
}

blockquote, q {
	　　quotes: "" "";
}

li{
	list-style: none;
}

html{
	width: 100%;
	height:100%;
}

body{
	width: 100%;
	height: 100%;
	font-family: '微软雅黑'
}

.main{
	width: 100%;
	height: auto;
	position: relative;
}

.main .explain{
	width: 100%;
	height: auto;
	display: block;
}

.main .button{
	width: 56%;
	height: auto;
	display: block;
	position: absolute;
	bottom: 5%;
	left: 22%;
}