<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
		<setting name="callSettersOnNulls" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="com.trump.auction.back.sys.model.Module" alias="Module" />
		<typeAlias type="com.trump.auction.back.sys.model.Role" alias="Role" />
		<typeAlias type="com.trump.auction.back.sys.model.RoleModule" alias="RoleModule" />
		<typeAlias type="com.trump.auction.back.sys.model.SysUser" alias="SysUser" />
		<typeAlias type="com.trump.auction.back.sys.model.UserRole" alias="UserRole" />
		<typeAlias type="com.trump.auction.back.sys.model.ZTree" alias="ZTree" />
		<typeAlias type="com.trump.auction.back.sys.model.SysLog" alias="SysLog" />
		<typeAlias type="com.trump.auction.back.sys.model.Config" alias="Config" />
	</typeAliases>
	<plugins>
		<plugin
			interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
			<property name="dialectClass"
				value="com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect" />
		</plugin>
		<plugin interceptor="com.github.pagehelper.PageHelper">
			<property name="reasonable" value="true"/>
			<property name="supportMethodsArguments" value="true"/>
			<property name="returnPageInfo" value="check"/>
			<property name="params" value="count=countSql"/>
		</plugin>
	</plugins>
</configuration>
